# --- ARCHIVOS DE CONSTRUCCIÓN ---
dist/
.astro/

# --- DEPENDENCIAS (PESADO) ---
node_modules/

# --- CONFIGURACIÓN DE EDITORES ---
.vscode/
.idea/
.DS_Store

# --- SEGURIDAD (VARIABLES DE ENTORNO) ---
.env
.env.production
.env*.local

# --- LOGS Y ERRORES ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*